[D-BUS Service]
Name=org.dawn.sliders
# This tells D-Bus: "Don't start the app yourself, ask Systemd to do it"
SystemdService=dawn_sliders.service
# Fail-safe executable path
Exec=/usr/bin/false
