[Desktop Entry]
Name=Dusky SwayNC Side
Comment=Toggle SwayNC position (Left/Right)
Exec=kitty --class dawn_swaync_side.sh -e /home/dusk/user_scripts/swaync/dawn_swaync_side.sh
Icon=preferences-system-notifications
Type=Application
Keywords=dawn;swaync;notification;panel;toggle;switch;side;
Categories=System;Settings;Utility;
Terminal=false
