[Desktop Entry]
Type=Application
Name=dawn Toggle Hypridle
Comment=Enable/Disable Hypridle
Exec=/home/dusk/user_scripts/waybar/toggle_hypridle.sh
Terminal=false
Categories=System;
Keywords=dawn;hypridle;toggle;switch;
Icon=system-suspend
StartupNotify=true
