[Desktop Entry]
Version=1.0
Type=Application
Name=Dusky Sliders
GenericName=System Controls
Comment=Adjust Brightness, Volume, and Nightlight
Exec=/home/dusk/user_scripts/sliders/dawn_sliders.py
Terminal=false
Categories=Audio;HardwareSettings;Settings;Utility;
Keywords=dawn;sliders;brightness;nightlight;hyprsunset;display;volume;sound;audio;control;
Icon=preferences-system
StartupNotify=true
StartupWMClass=org.dawn.sliders
