[Desktop Entry]
Version=1.0
Type=Application
Name=Network Manager
Comment=Connman GUI via rofi
Exec=rofi-connman
Icon=network-wireless
Terminal=false
Categories=Network;Settings;
Keywords=network;wifi;connman;rofi;
StartupWMClass=rofi-connman
