[Desktop Entry]
Type=Application
Name=Dusky Appearance TUI
GenericName=Theme Configurator
Comment=Real-time Hyprland appearance and opacity configurator
Exec=kitty --class dawn_appearances.sh -e /home/dusk/user_scripts/hypr/dawn_appearances.sh
Terminal=false
Categories=Settings;DesktopSettings;System;Utility;
Keywords=dawn;hyprland;appearance;theme;tui;config;settings;opacity;blur;shadow;
Icon=preferences-desktop-display
StartupNotify=true
StartupWMClass=dawn_appearances.sh
