[Desktop Entry]
Type=Application
Name=Dusky Hypridle Timeout
GenericName=Idle Configuration
Comment=Configure Idle Timeout Settings
Exec=kitty --class dawn_hypridle.sh -e /home/dusk/user_scripts/hypridle/dawn_hypridle.sh
Terminal=false
Categories=Settings;System;
Keywords=dawn;idle;lock;sleep;timeout;
Icon=preferences-system-power
StartupNotify=true
