[Desktop Entry]
Type=Application
Name=Dusky Power
GenericName=Power & Session Configurator
Comment=Systemd Logind Power Management (Lid, Power Button, Idle)
Exec=kitty --class dawn_power.sh -e /home/dusk/user_scripts/power/dawn_power.sh
Terminal=false
Categories=Settings;System;Utility;ConsoleOnly;
Keywords=dawn;power;logind;systemd;suspend;hibernate;lid;config;tui;
Icon=system-shutdown
StartupNotify=true
StartupWMClass=dawn_power_tui
