[Desktop Entry]
Type=Application
Name=Dusky Matugen Presets
Comment=Vibrant Material Design Theme Switcher
Exec=kitty --class dawn_matugen_presets.sh -e /home/dusk/user_scripts/theme_matugen/dawn_matugen_presets.sh
Icon=preferences-desktop-theme
Terminal=false
Categories=Settings;Utility;System;
Keywords=dawn;presets;theme;color;matugen;material;dawn;
StartupNotify=false
