[Desktop Entry]
Type=Application
Name=Dusky Workspace Manager TUI
GenericName=Workspace Rules Configurator
Comment=Real-time Hyprland workspace layout and rules configurator
Exec=kitty --class dawn_workspace_manager.sh -e /home/dusk/user_scripts/hypr/dawn_workspace_manager.sh
Terminal=false
Categories=Settings;DesktopSettings;System;Utility;
Keywords=dawn;hyprland;workspace;layout;rules;config;settings;scrolling;monocle;master;
Icon=preferences-desktop-display
StartupNotify=true
StartupWMClass=dawn_workspace_manager.sh
